extends ../node_modules/jade-bootstrap/_bootstrap

block body
    | <div class='container'>
    |    <div class='row'>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |    </div>
    |<br />
  each pv in principlesArray
    div(class='row')
      div(class='col-sm')
        | #{pv.frameworkdisplay}
        br 
        | #{pv.type}
      div(class='col-sm')
        | #{pv.id}
      div(class='col-sm')
        | #{pv.text}