extends ../node_modules/jade-bootstrap/_bootstrap

block append styles
  link(rel="stylesheet",href="/stylesheets/agpv.css")

block append scripts
  script(src="/javascripts/agpv.js")

block body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/agileframeworks/all')
          | Agile Values and Principles
        form.navbar-form.navbar-left(action='/agileframeworks/search', method='GET')
          div.form-group
            input.form-control#searchterms(type='text', name='searchterms', placeholder='Search Terms', autocomplete="off")  
            //input.btn.btn-default(type='submit', value='Submit')
            div#suggestions
        div.inline#removetermlinks
          - var terms = ""
          if searchtermsArray
            each term in searchtermsArray
              a.activekeywords.plain(href="javascript:void(0)" onclick="javascript:removeActiveSearchterm('" + term + "')") <span class="glyphicon glyphicon-remove-circle"></span>
                | &nbsp;#{term}
              - terms = terms + ',' + term;
            div#currentSearchterms #{terms.substring(1,terms.length)}
  div.container
    div.row
      div.col-md-2
          div.panel.panel-default
            div.panel-heading
              a.plain(href='#sidepanel' data-toggle='collapse')
                h3.panel-title Frameworks
                  //a(href='/agileframeworks/all' data-toggle='collapse') Frameworks
            div.panel-collapse.collapse.show#sidepanel
              ul.list-group
                each f in frameworks
                  li.list-group-item 
                    a.menu(href='/agileframeworks/' + f.framework ) <span id=#{f.framework}>#{f.frameworkdisplay}</span>
      div.col-md-8#itemsPanels
      div.col-md-2
          div.panel.panel-default
            div.panel-heading
              h3.panel-title About
            div.panel-body
              p.center Designed and coded by <a class='plain' href="https://www.linkedin.com/in/tomboulet/">Tom Boulet</a>
              p.hide API at /api
