extends ../node_modules/jade-bootstrap/_bootstrap

block body
    | <div class='container'>
    |    <div class='row'>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |    </div>
    |<br />
    each pv in principlesArray
        div.row
          div.col-sm-2
            div.row.bg-success
              div.col-sm-4
                | #{pv.frameworkdisplay} #{pv.type} #{pv.id}
            div.row.bg-success
              div.col-sm-4
                | #{pv.text}