extends ../node_modules/jade-bootstrap/_bootstrap

append head
  style.
    .my-show-grid {
      margin-bottom: 15px;
    }

block body
  div.container
    each pv in principlesArray
        div.row.show-grid
          div.col-sm-6
            div.row.bg-success.show-grid
              div.col-sm-4
                | #{pv.frameworkdisplay} #{pv.type} #{pv.id}
            div.row.bg-success
              div.col-sm-4
                | #{pv.text}