extends ../node_modules/jade-bootstrap/_bootstrap

block append styles
  style.
    .my-show-grid { 
      margin-bottom: 15px;
    }

block body
  div.container
    each pv in principlesArray
        div.row.my-show-grid
          div.col-sm-6
            div.row.bg-success
              div.col-sm-4
                | #{pv.frameworkdisplay} #{pv.type} #{pv.id}
            div.row.bg-success
              div.col-sm-4
                | #{pv.text}