doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
        $.ajax({
          url: 'http://agile.teaminnovationllc.com:3000/agileframeworks/api/', 
          success: function(result){
            $("#div1").html(result.toString());
          }
        });
      });
  body
    #div1
      h2 Let jQuery AJAX Change This Text   
    p result #{'|'+result+'|'}
       

      

