extends ../node_modules/jade-bootstrap/_bootstrap

block body
    | <div class='container'>
    |    <div class='row'>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |      <div class='col-sm'>
    |        something here
    |      </div>
    |    </div>
    |<br />
    each pv in principlesArray
        div(class='row')
            div.col-sm(style="background-color: lightblue")
                | #{pv.frameworkdisplay}
                br 
                | #{pv.type}
            div.col-sm
                | #{pv.id}
            div.col-sm
                | #{pv.text}