extends ../node_modules/jade-bootstrap/_bootstrap

block append styles
  link(rel="stylesheet",href="/stylesheets/agpv.css")

block append scripts
  script(src="/javascripts/agpv.js")

block body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
      a.navbar-brand(href='/agileframeworks/all')
        | Agile Values and Principles
       div#currentFrameworkDisplay current framework here
      form.navbar-form.navbar-left(action='/agileframeworks/search', method='GET')
        div.form-group
          input.form-control#searchtext(type='text', name='searchtext', placeholder='Search Text', autocomplete="off")  
          div#suggestions
        div#currentsearchterms
        div.inline#removetermlinks
  div.container
    div.row
      p.hide#selectedFramework
      div.col-md-2#frameworksMenuPanel
      div.col-md-8#itemsPanels
      div.col-md-2
          div.panel.panel-default
            div.panel-heading
              h3.panel-title About
            div.panel-body
              p.center Designed and coded by <a class='plain' href="https://www.linkedin.com/in/tomboulet/">Tom Boulet</a>
              p.hide API at /api
