doctype html
html
  head
    link(rel='stylesheet', href='https://tomboulet.com/design/main.css')
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    meta(property='go:image', content='')
  body
    block content
