doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    style.
      select#chooseframework {
        margin-bottom: 110px; 
      }
      table {
        border-collapse: collapse;
        border: 0;
      }
      td.type {
        width: 50;
      }
      th, td {
        border: 0;
        padding: 10px;
        text-align: left;
      }
      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }
  body
    block content
