doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    style.
      a.menu {
        border: 1px solid black;
        padding: 8px;
        margin-right: 20px;
        margin-bottom: 40px;
        color: black;
        text-decoration: none;
        background-color: blue;
      }
      table {
        border-collapse: collapse;
        border: 0;
        margin-top: 15px;
      }
      td.type {
        width: 50;
      }
      th, td {
        border: 0;
        padding: 10px;
        text-align: left;
      }
      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }
  body
    block content
